a {
  color: #0F204B;
  font-size: solid 24px;
  text-decoration: none;
  padding: 2px;
  font-family: 'Lato', sans-serif;
}

a:hover {
  background-color:#0F204B;
  color: #FFB612;
}

button {
  border: 4px solid;
  border-color: #0F204B;
  background-color: #FFB612;
  padding: 10px 20px;
}

h1 {
  color: #0F204B;
  font-size: 36px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.hero {
  border: 5px solid #0F204B;
  width:auto;
  height: auto;
  
}

hr {
  border: none;
  height: 5px;
  background-color: #0F204B;
}

.hero + p {
  text-align: center;
}

p {
  color: #000000;
  font-size: 18px;
  padding: 2px;
  font-family: 'Lato', sans-serif;
}

.flyer {
  border: 2px solid black;
  width: fit-content;
  padding: 15px;
  margin: 5px;
  background-color: #FFB612;
  border-radius: 20px;
}

ul {
  list-style-type: circle;
  font-size: 18px;
  color: black;
  border: 2px solid black;
  margin: 50px;
  padding-right: 0px;
  padding-left: 40px;
  width: auto;
  border-radius: 20px;
}

.references {
  border: 2px solid black;
  padding: 15px;
  margin: 5px;
}

.references::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}

.references p:nth-child(even) {
  text-indent: 50px;
}

footer {
  border: 2px solid black;
  padding: 20px;
  margin: 5px;
  background-image: url('skyline.jpg');
  height: 150px;
}

.widgetbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 50px;
}

.imgbox {
  display: flex;
  justify-content: center;
  border: 2px solid #FFB612;
  border-radius: 20px;
  background-color: #FFB612;
}

.videoplayer {
  display: flex;
  justify-content: center;
}

video {
  border: 2px solid black;
  border-radius: 20px;
}

@media print {
  @page {
    margin: 1in;
  }
  h1, p, ul, .widgetbox {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
  }    
  img, 
  video,
  .nav
  .flyer
  .imgbox
  .videoplayer {
    display: none;
  }
}
